name: CI/CD Simple - Spring Boot

on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Compilar sin ejecutar tests
        run: ./mvnw clean package -DskipTests

      - name: Subir artefacto JAR
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: target/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' 

    steps:

      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Descargar artefacto JAR
        uses: actions/download-artifact@v4
        with:
          name: backend-jar

      - name: Crear carpeta y mover JAR
        run: |
          mkdir -p deploy
          mv target/*.jar deploy/app.jar

      - name: Subir artefacto a GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: deploy/

      - name: Desplegar a GitHub Pages
        uses: actions/deploy-pages@v4
